{% block card_new %}
    <div class="padding-10"></div>
    <div class="row justify-content-center" style="margin-left: 10px !important;">
        <div class="col col-auto">
            <div class="tile-add">
                {% if project is not defined %}
                    <a href="{{ path(route) }}">
                {% else %}
                    <a href="{{ path(route, {project_id: project_id}) }}">
                {% endif %}
                    <div class="tile-add-item-squircle">
                            <svg class="AddItemSquircle-plusIcon" focusable="false" viewBox="0 0 32 32">
                                <path d="M26,14h-8V6c0-1.1-0.9-2-2-2l0,0c-1.1,0-2,0.9-2,2v8H6c-1.1,0-2,0.9-2,2l0,0c0,1.1,0.9,2,2,2h8v8c0,1.1,0.9,2,2,2l0,0c1.1,0,2-0.9,2-2v-8h8c1.1,0,2-0.9,2-2l0,0C28,14.9,27.1,14,26,14z"></path>
                            </svg>
                    </div>
                    </a>
                    <div class="tile-add-name" style="font-weight: normal !important">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}