{% extends 'base.html.twig' %}

{% block content %}

    {# <div class="container"> #}
    <div class="text-center">
        {% block page_title %}pJ{% endblock %}

        {# ako je home page, onda pokazi dodaj projekat karticu #}
        {% if app.request.attributes.get('_route') == 'app_homepage' %}
            {% set vars = {'route': 'app_add_project', 'title': 'Novi projekat'} %}
        {% else %} {# pokazi dodaj task karticu #}
            {% set vars = {'route': 'app_add_task', 'title': 'Novi zadatak'} %}
        {% endif %}

        {% block new_card %}
            {% include 'card/card_new.html.twig' with vars %}
        {% endblock %}

        {% block pre_content %}{% endblock %}

        {% block display_options %}
            {% include "display_options.html.twig" %}
        {% endblock %}

    </div>

    <div class="row justify-content-center" id="home-content">
        {% block page_content %}

        {% endblock %}
    </div>
    {# </div> #}
{% endblock %}